@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
*{
    margin:0;
    padding:0;   
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.front{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,12,51,0.3), rgba(12,12,51,0.3));
    position: relative;
    padding:0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.front nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 1; 
}

.front .logo {
    width:80px;
    transition: transform 0.7s ease-in-out;
    z-index: 2; 
}

.front .logo:hover {
    transform: rotate(360deg);
}


.front nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:auto;
    margin-right: 20px; 
}
.front nav ul li a{
    text-decoration: none;
    color: #ffff; 
    font-size: 17px;
}

.content{
    text-align: center;
}
.content h1{
    font-size: 160px; 
    color: #fff; 
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}   
.content a{
    text-decoration: none; 
    display: inline-block;
    color: #fff; 
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}

#about-section {
    background-image: url('images/windows.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height as needed */
    display: flex;
    padding:2em;
    /* align-items: center;
    justify-content: center; */
    color: #fff; 
    position: relative;
}

@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height:100%;
    }
}

.about{
    display: inline-block;
}
/* .text{
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width:100%;
    overflow: hidden;
    animation:
        typing 2s ,
        cursor .4s step-end infinite alternate;

} */


/* @keyframes typing {
    from {width: 0;}
} */

.text {
    font-size: 3em;
    letter-spacing: 10px;
    font-family: monospace;
    overflow: hidden;


    line-height: 0.96;
    color: #000000; 
    overflow:visible; /* Hide overflow content */
    height: auto; /* Initial height */
    

}
body {
    margin: 0;
  }
  
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }
  
  header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }
  
  .background {
    transform: translateZ(-10px) scale(2);
  }
  
  .foreground {
    transform: translateZ(-5px) scale(1.5);
  }
  
  .background{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .foreground {
    position: absolute;
    
    width: 1280px;
    object-fit: cover;
    z-index: -1;
  }
  
  .title {
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;;
  }
  
  section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
  }


.final {
    width: 100%;
    max-width: 800px; /* Set a maximum width for better readability */
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    margin: 0 auto; /* Center horizontally */
    align-items: center;
    padding:20px; /* Center vertically */
    padding-top: 2px;
}

.final nav {
    width: 50%;
    
    padding: 20px;
    box-sizing: border-box;
    
}

.final nav h1 {
    margin-bottom: 10px;
}

.final nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.final nav ul li {
    margin-bottom: 10px;
}

.horizontal-division {
    width: 50%;
    box-sizing: border-box;
}

.horizontal-division img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
}


.work{
    background: rgb(85, 181, 186);
    background-image: url("images/office2.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    position: relative;
    padding:0px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color:#fff;

}

.work section{

    background: rgba(60, 55, 55, 0.683);
    /*  10% opaque green */ 
    
    /* fill-opacity: 0.4; */
}

.work h1, .work p{
    font-family:monospace;
    font-size: 25px;
    color: #ffffff;
    font-style: normal;
  }



button
{
    border-right: solid 2px #87888E;
    border-bottom: solid 2px #87888E;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
    background-color: #C1C7C8;
    cursor: pointer;
    float: right;
    font-family: 'VT323', monospace;
    font-size: 1.0rem;
    font-weight: 900;
    margin-left: 2px;
    user-select: none;
    height: 22px;
}

button:active
{
    background-color: #87888E;
}

.window 
{
    position: absolute;
    z-index: 9;
    background-color: #fff;
    border: 3px solid #C1C7C8;
    text-align: center;    
    padding: 2px;
    resize: both;
    overflow: auto;
    font-family: 'VT323', monospace;
    font-size: 1rem;
    box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,1), 0px 0px 0px 2px rgba(0,0,0,1);
    border-bottom-color: #5f6064;
    border-right-color: #5f6064;
    min-width: 280px;
    min-height: 50px;
    overflow-y: hidden;
}

.window-header
{
    position: sticky;
    text-align: center;
    cursor: move;
    z-index: 10;
    padding-left: 3rem;
    background-color: #0200A1;
    color: #fff;
    font-family: 'VT323', monospace;
    border-bottom: 2px solid #000;
    user-select: none;
}

.classic-button
{
    box-shadow:
        -1px -1px 0px 1px rgba(255,255,255,1),
        0px 0px 0px 2px rgba(0,0,0,1);
    background-color: #C0C0C0;
    float: none;
    font-size: 1.2rem;
    padding: 0 20px;
    margin: 0;
    height: auto;
    font-weight: 100;
    
    border-right: solid 2px #808080;
    border-bottom: solid 2px #808080;
    border-top: solid 2px #E0E0E0;
    border-left: solid 2px #E0E0E0;
}

.classic-button:active
{
    border-bottom: solid 2px #C0C0C0;
    border-right: solid 2px #C0C0C0;
    border-left: solid 2px #000;
    border-top: solid 2px #000;
    background-color: #808080;
    box-shadow:
        -1px -1px 0px 1px #000,
        0px 0px 0px 2px #000;
}

.classic-button:focus
{
    outline: 0;
}




.hiddenimg {
    display: none;
  }
  
  .hiddentxt {
    font-weight: bold;
    color: #2fff00;
    z-index:99;
  }
  
  .hiddentxt a {
    color:  #2fff00;
    text-decoration: none;
    z-index: 99;
  }
  
  .hiddenclick {
    font-weight: bold;
    color:  #2fff00;
    text-decoration: none;
    cursor: pointer;
  }
  
  .hiddenclick a {
    color:  #2fff00;
    text-decoration: none;
  }
  
  .hiddenclick a:visited {
    color:  #2fff00;
    text-decoration: none;
  }
  
  .hiddentxt:hover ~ .hiddenimg {
    display: block;
    position: absolute;
      z-index: 2
  }
  
  .hiddenclickimg {
    display: none;
  
  }